@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #21201F;
    --accent: #EF6817;
    --foreground: #f3f4f6;
    --foregroundAlt: #e5e7eb;
    --foregroundDark: #2e2e2e;
    --foregroundDarker: #171717;
    --pastelPurple: #a0c4ff;
    --pastelBlue: #A6DCEF;
    --pastelGreen: #caffbf;
}